
@media (min-width: 1440px) {
    .container {
        width: 1370px;
    }
}

details summary { list-style-type: none; } /* Firefox */
details summary::-webkit-details-marker { display: none; } /* Chrome */
details summary::marker { display: none; }
details summary { outline: none; }
details summary {
    cursor: pointer;
    user-select: none;
    position: relative;
}
details summary:before {
    top: 5px;
    position: absolute;
    left: -23px;
}
details:not([open]) summary:before {
    content: '\25BC';
}
details[open] summary:before {
    content: '\25B2';
}

#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 0;
}
.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}

.heart{
    color: #FF3B30;
}
.social-share{
    float: left;
    margin-right: 8px;
}
.social-share a{
    color: #FFFFFF;
}
#subscribe_email{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.pick-class-label{
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 15px 23px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.parallax-pro{
  width:100%;
  display: block;
  position: relative;
  background-color: #000;
}
.parallax-pro > .img-src{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

}
.parallax-pro:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    display: block;
    content: "";
    z-index: 0;
}
.parallax-pro .container{
    padding-top: 20px;
    z-index: 1;
    position: relative;
}
.parallax-pro .hello a{
    color: #fff;
    text-decoration: none;
}
.parallax-pro .hello{
    font-size: 48px;
    font-weight: 300;
    position: relative;
/*     width: 430px; */
    margin: 30px auto 50px;
}
.parallax-pro .label{
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    background-color: #FF9500;
    color: #FFFFFF;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
}
.parallax-pro small{
    padding-top: 15px;
    font-size: 20px;
    display: block;
    color: #fff;
}
.parallax-pro ul{
     width: 280px;
    margin: 0 auto;
}
.parallax-pro li{
    padding: 9px 0;
    border-bottom: 1px solid #777;
}
.parallax-pro .actions{
    margin-top: 40px;
}
.parallax-pro .actions{
    margin-left: 10px;
}
.parallax-pro .motto{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;
    top: 22%;
    width: 285px;
}
.parallax-pro .motto .pro{
    position: absolute;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #333333;
    text-shadow: 0 0 0;
}
.parallax-pro .motto .square{
       padding: 7px 14px;
    height: auto;
    width: auto;
    line-height: inherit;
    border-radius: 6px;
    bottom: 22px;
    right: -25px;
    color: #FFFFFF;
    background-color: #ff9500;
    font-weight: 300;
    background-color: #ff9500;
}
.social-share{
    margin-right: 0px;
    margin-top: 10px;
}

.space-30{
    height: 30px;
    display: block;
}

.sharing-title{
    margin: 10px;
    line-height: 40px;
}
.social-line{
    padding: 5px 0;
}
.section-gray{
    padding: 10px 0;
    background-color: #EEE;
}
.section-gray h5{
    margin: 0;
    line-height: 40px;
}

/*   EXTRA SHIT  */
/* @cristina: fisier singular, folosit pentru efectul de blur la parallax in header */

.navbar .navbar-nav > li > a {
    transition: opacity .3s ease;
}

/*.blurred-container{*/
/*  position:relative;*/
/*  width:100%;*/
/*  height:540px;*/
/*  top:0;*/
/*  left:0;*/
/*}*/
/*.blurred-container > .img-src{*/
/*    position:fixed;*/
/*    width:100%;*/
/*    height:540px;*/
/*    background-repeat:no-repeat;*/
/*    background-size:cover;*/
/*    background-position: center center;*/
/*}*/
/*.blur{*/
/*  opacity:0;*/
/*}*/

.logo-container{
    margin-top: 10px;
}
/*.logo-container .logo{*/
/*    overflow: hidden;*/
/*    border-radius: 50%;*/
/*    border: 1px solid #333333;*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    float: left;*/
/*}*/
/*.logo-container .logo img{*/
/*    width: 100%;*/
/*}*/
.logo-container .brand {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    float: left;
    height: 50px;
    line-height: 42px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
}

/*.blurred-container .motto{*/
/*    color: #FFFFFF;*/
/*    font-size: 76px;*/
/*    font-weight: 600;*/

/*    text-align: center;*/
/*    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);*/
/*    text-transform: uppercase;*/
/*    !*top: 100px;*!*/
/*    top: 160px;*/
/*    z-index: 3;*/

/*    display: block;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*    width: 380px;*/
/*    height: 0;*/
/*}*/
/*.blurred-container .motto .border{*/
/*    border: 3px solid #FFFFFF;*/
/*    text-align: center;*/
/*}*/
/*.blurred-container .motto .no-right-border{*/
/*    border-right: none;*/
/*}*/

/*@media (max-width: 768px){*/
/*    .blurred-container .motto{*/
/*        font-size: 60px;*/
/*        width: 320px;*/
/*        top: 130px;*/
/*    }*/
/*}*/

.navbar-custom-grey {
    background-color: var(--base-light);
    border-bottom-color: var(--base-lighter);
}

/*.navbar-custom-grey.navbar-transparent {*/
/*    background-color: rgba(120,144,144,0.8);*/
/*    border-bottom-color: rgba(255,255,255,0.8);*/
/*    padding-top: 10px;*/
/*    padding-bottom: 5px;*/
/*}*/

.info-boxes {
    display: flex; flex-wrap: wrap
}


.info-box {
    display: flex;
    margin-bottom: 30px;
}

.info-box__container {
    border: 1px solid var(--base-lighter);
    border-radius: 5px;
    padding: 120px 20px 20px;
    width: 100%;
    position: relative;
}

.info-box__title {
    min-height: 40px;
}

.info-box__icon {
    color: var(--base-lighter);
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px;
}


.btn--base {
    border-color: var(--base-light);
    color: var(--base-light); }
.btn--base:hover, .btn--base:focus, .btn--base:active, .btn--base.active, .btn--base:active:focus, .btn--base:active:hover, .btn--base.active:focus, .btn--base.active:hover, .open > .btn--base.dropdown-toggle, .open > .btn--base.dropdown-toggle:focus, .open > .btn--base.dropdown-toggle:hover {
    background-color: var(--base-lighter-transparent);
    color: var(--base);
    border-color: var(--base); }
.btn--base.disabled, .btn--base.disabled:hover, .btn--base.disabled:focus, .btn--base.disabled.focus, .btn--base.disabled:active, .btn--base.disabled.active, .btn--base:disabled, .btn--base:disabled:hover, .btn--base:disabled:focus, .btn--base:disabled.focus, .btn--base:disabled:active, .btn--base:disabled.active, .btn--base[disabled], .btn--base[disabled]:hover, .btn--base[disabled]:focus, .btn--base[disabled].focus, .btn--base[disabled]:active, .btn--base[disabled].active, fieldset[disabled] .btn--base, fieldset[disabled] .btn--base:hover, fieldset[disabled] .btn--base:focus, fieldset[disabled] .btn--base.focus, fieldset[disabled] .btn--base:active, fieldset[disabled] .btn--base.active {
    background-color: transparent;
    border-color: var(--base-light); }
.btn--base.btn-fill {
    color: #fff;
    background-color: var(--base-light);
    opacity: 1;
    filter: alpha(opacity=100); }
.btn--base.btn-fill:hover, .btn--base.btn-fill:focus, .btn--base.btn-fill:active, .btn--base.btn-fill.active, .open > .btn--base.btn-fill.dropdown-toggle {
    background-color: var(--base);
    color: #fff; }
.btn--base.btn-fill .caret {
    border-top-color: #fff; }
.btn--base .caret {
    border-top-color: var(--base-light); }


.main-title {
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-cta {
    padding-left: 50px;
    padding-right: 50px;
    transition: all .3s ease;
}

.main {
    padding-top: 70px;
}

.section {
    padding: 40px 0;
}

.section--emphasised {
    background-color: var(--base-lighter-transparent-bg);
}

.census-hints {
    border: 1px solid var(--base-lighter);
    border-radius: 5px;
    margin-top: 30px;
    padding: 0 30px 20px ;
}

.census-hints__list {
    list-style-type: none;
    padding: 0;
}

.how-to-count {
    margin-bottom: 30px;
}

.census-hints__item {
    margin-bottom: 15px;
}

.footer {
    border-top: 1px solid var(--base-lighter);
    background-color: var(--base-light);
    padding: 20px;
}

.footer__credits {
    color: #fff;
    margin: 5px 0;
    text-align: center;
}
