html {
    --base: #000A8F; /* rgb(0,10,143) */
    --base-dark: #00065c;
    --base-bg: #24296B;
    --base-bg-em: #00428F;
    --base-contrast: #fff;
    --social: #2596FF;

    --base-bg-light: #EDF4FF;
    --base-bg-lighter: #f6faff;
    --base-border-light: rgba(0, 10, 143, .25);

    --info-box-shadow: 0 4px 4px rgba(37, 150, 255, 0.05), 0 4px 16px rgba(37, 150, 255, 0.15);
    --info-box-radius: 8px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--base);
}

html.debug {
    background: url("../tmp/mobile-debug.png") top center no-repeat;
}
@media (min-width: 768px) {
    html.debug {
        background: url("../tmp/1920px.png") top center no-repeat;
    }
}

.debug body {
    background-color: rgba(255, 255, 255, 0.4);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn, .btn-simple, a, .td-name, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p, li {
    font-size: 14px;
}

em {
    font-style: normal;
}

@media (min-width: 576px) {
    p, li {
        font-size: 16px;
    }
}

a {
    color: var(--base);
    text-decoration: underline;
}

a:hover,
a:focus {
    color: var(--base-dark);
}

@media (min-width: 1440px) {
    .container {
        width: 1370px;
    }
    .col-xl-6 {
        width: 50%;
    }
}

.navbar-collapse .nav li {
    padding: 0 13px;
}

.navbar-collapse .nav li > a {
    border-bottom: 4px solid transparent;
    margin: 0;
    padding: 40px 3px 31px;
}

.navbar-collapse .nav li > a:hover,
.navbar-collapse .nav li > a:active,
.navbar-collapse .nav li > a:focus {
    outline: none;
    border-bottom-color: var(--base-dark);
}

@media (max-width: 767px) {
    .navbar-collapse .nav li > a {
        border-bottom: 0;
        padding: 7px 10px;
    }

    .navbar-collapse .nav li > a:hover {
        text-decoration: underline;
    }
}

.cookies-and-privacy {
    position: fixed;
    background-color: var(--base-bg);
    bottom: 0;
    z-index: 666;
    left: 0;
    right: 0;
    padding: 20px 0;
    text-align: center;
}

.cookies-and-privacy__hide {
    background-color: var(--base-bg-light);
}

.cookies-and-privacy p,
.cookies-and-privacy a,
.cookies-and-privacy a:hover,
.cookies-and-privacy a:visited,
.cookies-and-privacy a:active,
.cookies-and-privacy a:focus {
    color: #fff;
}

details {
    padding-left: 20px;
}

details summary {
    list-style-type: none;
}

/* Firefox */
details summary::-webkit-details-marker {
    display: none;
}

/* Chrome */
details summary::marker {
    display: none;
}

details summary {
    outline: none;
}

details summary {
    cursor: pointer;
    user-select: none;
    position: relative;
}

details summary:before {
    top: 5px;
    position: absolute;
    left: -23px;
}

details:not([open]) summary:before {
    content: '\25BC';
}

details[open] summary:before {
    content: '\25B2';
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

a[id]:not([href]) {
    display: block;
    height: 0;
    opacity: 0;
    position: relative;
    top: -70px;
}
@media (min-width: 576px) {
    a[id]:not([href]) {
        top: -100px;
    }
}

a[id]:not([href]):target + .target-indicator,
a[id]:not([href]):target + .target-indicator-wrapper .target-indicator,
a[id]:not([href]):target + section .target-indicator {
    animation: shake 0.31s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    50% {
        transform: translate3d(3px, 0, 0);
    }
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
        padding-right: 10px;
    }
}

.navbar .navbar-nav > li > a {
    text-decoration: none;
    transition: border-color .3s ease;
}

.navbar-white {
    background-color: var(--base-contrast);
    border-bottom-color: var(--base-border-light);
}

.debug .navbar-white {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar.navbar-white .navbar-toggle .icon-bar {
    background-color: var(--base);
}
@media (max-width: 575px) {
    .navbar .navbar-toggle {
        margin-top: 18px;
        margin-bottom: 11px;
    }
}

.logo-container {
    display: flex;
    padding-top: 10px;
    padding-left: 24px;
}

.logo-container .brand {
    font-size: 32px;
    float: left;
    line-height: 80px;
    margin: 0 0 0 25px;
}

@media (max-width: 575px) {
    .logo-container {
        padding-top: 17px;
        padding-left: 20px;
    }
    .logo-container img {
        height: 36px;
    }

    .logo-container .brand {
        font-size: 16px;
        line-height: 38px;
        margin-left: 12px;
    }
}

.btn--cta.btn-fill {
    background-color: var(--social);
    color: var(--base-contrast);
}

.btn--cta.btn-fill:hover,
.btn--cta.btn-fill:focus,
.btn--cta.btn-fill:active,
.btn--cta.btn-fill.active {
    background-color: var(--base);
    color: var(--base-contrast);
}

.main {
    background: linear-gradient(180deg, var(--base-bg-light) 0%, #fff 5%, #fff 100%), #fff;
    padding-top: 89px;
}
@media (min-width: 576px) {
    .main {
        background: none;
        padding-top: 96px;
    }
}
.debug .main {
    background: none;
}

.section {
    padding: 5px 0;
}

@media (min-width: 576px) {
    .section {
        padding: 20px 0;
    }
}

@media (max-width: 575px) {
    .social {
        padding: 0;
    }
}

.social__container {
    text-align: right;
    line-height: 24px;
}
@media (min-width: 576px) {
    .social__container {
        line-height: 38px;
    }
}

.social__callout {
    font-size: 16px;
    font-weight: 600;
    color: var(--social);
    margin-right: 10px;
}
@media (min-width: 576px) {
    .social__callout {
        font-size: 24px;
    }
}

.social__button {
    background-color: transparent;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 8px;
    position: relative;
    top: -4px;
    transition: opacity .3s ease;
}

@media (min-width: 576px) {
    .social__button {
        margin: 0 2px;
    }
}

@media (max-width: 575px) {
    .social__button {
        padding: 0 3px;
    }
}
.social__button img {
    width: 24px;
    height: 24px;
}

@media (min-width: 576px) {
    .social__button img {
        width: auto;
        height: auto;
    }
}

.social__button:hover {
    opacity: .7;
}

.social__button--twitter {
    margin-right: 6px;
}
@media (min-width: 576px) {
    .social__button--twitter {
        margin-right: 17px;
    }
}

/* ------------ base ------------------- */
.base-info {
    background: linear-gradient(180deg, transparent 0%, var(--base-bg-light) 100%), transparent;
    padding-bottom: 57px;
}
@media (max-width: 575px) {
    .base-info {
        background: linear-gradient(180deg, transparent 0%, transparent 70%, var(--base-bg-light) 100%), transparent;
        padding: 0;
    }
}

.debug .base-info {
    background: transparent;
}

/* ------------ intro ------------------ */

.intro {
    margin-bottom: 55px;
}

.main-header {
    background: url(../img/poland.svg) center -5px no-repeat;
    padding: 20px 0;
}

.main-header {
    background-size: cover;
    margin: 0 auto 35px;
    width: 300px;
    min-height: 250px;
}

@media (min-width: 576px) {
    .main-header {
        background-size: auto;
        min-height: 300px;
        margin-left: 20px;
        margin-bottom: 0;
        width: auto;
    }
}

.main-header__heading {
    font-size: 26px;
    line-height: 32px;
    margin: 43px auto 0;
    max-width: 90vw;
    text-align: center;
}
@media (max-width: 575px) {
    .main-header__heading {
        padding-right: 10px;
    }
}

@media (min-width: 576px) {
    .main-header__heading {
        font-size: 44px;
        margin-top: 30px;
        line-height: 64px;
        width: 410px;
        padding-left: 4px;
        padding-right: 0;
    }
}

.main-header__dates {
    font-size: 32px;
    line-height: 40px;
    margin: 12px auto 33px;
    max-width: 90vw;
    text-align: center;
}

@media (min-width: 576px) {
    .main-header__dates {
        margin-top: 17px;
        font-size: 64px;
        line-height: 64px;
        width: 410px;
        padding-left: 4px;
    }
}

.intro-text {
    line-height: 25px;
}

.intro-text__important {
    display: block;
    font-weight: 600;
}

.intro-text__important--first {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 23px;
}
@media (min-width: 576px) {
    .intro-text__important--first {
        font-size: 24px;
        line-height: 20px;
        margin-bottom: 0;
    }
}

.intro-text__important--second {
    line-height: 21px;
    margin-bottom: 21px;
}
@media (min-width: 576px) {
    .intro-text__important--second {
        line-height: 49px;
        margin-bottom: 0;
    }
}

.intro-text--last-census,
.intro-text--religion {
    color: #000;
}

.intro-text--last-census {
    margin-bottom: 20px;
}
@media (max-width: 575px) {
    .intro-text--last-census,
    .intro-text--religion {
        line-height: 18px
    }
    .intro-text--religion br {
        display: none;
    }
}

.intro-text--religion {
    margin-bottom: 30px;
}
@media (min-width: 576px) {
    .intro-text--religion {
        margin-bottom: 48px;
    }
}

.intro-text--change {
    font-size: 18px;
    line-height: 24px;
    max-width: 620px;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .intro-text--change {
        font-size: 24px;
        line-height: 32px;

    }
}

.intro-text--change strong {
    font-weight: 600;
}

.intro-footer__cta {
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    padding: 16px 57px;
    transition: background-color .3s ease, box-shadow .3s ease;
    text-decoration: none;
}
@media (max-width: 575px) {
    .intro-footer {
        text-align: center;
    }
    .intro-footer__cta {
        padding: 9px 31px;
        border-radius: 4px;
    }
}

.intro-footer__cta:hover,
.intro-footer__cta:active,
.intro-footer__cta:focus,
.intro-footer__cta:active:focus,
.intro-footer__cta:visited {
    outline: none;
}

.intro-footer__cta:active,
.intro-footer__cta:focus {
    box-shadow: 0 4px 4px transparent;
}

/* ------------ summary ---------------- */

.summary {
    padding: 12px 8px
}
@media (min-width: 576px) {
    .summary {
        padding: 34px 38px
    }
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
}

.info-box {
    display: flex;
    margin-bottom: 28px;
}
@media (min-width: 576px) {
    .info-box {
        margin-bottom: 30px;
    }
}

.info-box__container {
    background: var(--base-contrast);
    box-shadow: var(--info-box-shadow);
    border-radius: var(--info-box-radius);
    padding: 90px 15px 20px;
    width: 100%;
    position: relative;
}

.debug .info-box__container {
    background: none;
}

@media (min-width: 576px) {
    .info-box__container {
        padding: 140px 23px 27px;
    }
}

.info-box__title {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    min-height: 48px;
    margin: 7px 0 0;
}

@media (min-width: 576px) {
    .info-box__title {
        font-size: 20px;
        margin-bottom: 21px;
        line-height: 24px;
    }
}
.info-box__container > p {
    font-weight: 500;
}

@media (max-width: 575px) {
    .info-box__container > p {
        font-size: 12px;
        line-height: 20px;
    }
}


.info-box__container > p:not(:last-child) {
    margin-bottom: 20px;
}

.info-box__container > p:last-child {
    margin-bottom: 0;
}

.info-box__icon {
    color: var(--base-border-light);
    position: absolute;
    top: 23px;
    left: calc(50% - 24px);
    text-align: center;
    font-size: 70px;
    width: 48px;
    height: 48px;
}

@media (min-width: 576px) {
    .info-box__icon {
        top: 47px;
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
    }
}

/* ----------- say what? --------------- */
.say-what {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
}
@media (min-width: 576px) {
    .say-what {
        margin: 32px 0 0;
        padding-top: 5px;
    }
}

.say-what__container {
    background: url("../img/person.png") calc(100% - 25px) bottom no-repeat;
    padding-bottom: 90px;
}

@media (max-width: 575px) {
    .say-what__container {
        padding-bottom: 80vw;
        background-size: contain;
        background-position-x: calc(100% - 5px);
    }
    .debug .say-what__container {
        padding-bottom: 254px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .say-what__container {
        padding-bottom: 500px;
    }
}

.say-what__title {
    font-size: 48px;
    line-height: 36px;
    margin-bottom: 24px;
}
@media (min-width: 576px) {
    .say-what__title {
        line-height: 48px;
        margin-bottom: 46px;
        padding-left: 26px;
    }
}
@media (max-width: 575px) {
    .say-what__title {
        font-size: 26px;
    }
}

.say-what__text {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 19px;
}
@media (min-width: 576px) {
    .say-what__text {
        line-height: 24px;
        margin-bottom: 23px;
        padding-left: 26px;
    }
}

.say-what__text strong {
    font-size: 18px;
}

/* ------------ how to ----------------- */
.how-to {
    background: linear-gradient(180deg, var(--base-bg-light) 0%, #fff 60%, #fff 100%), #fff;
    padding-top: 21px;
    margin-bottom: 0;
}
@media (max-width: 575px) {
    .how-to {
        padding-bottom: 0;
    }
}
@media (min-width: 576px) {
    .how-to {
        padding-top: 80px;
        margin-bottom: 75px;
    }
}

.debug .how-to {
    background: none;
}

.how-to__title {
    font-size: 26px;
    line-height: 36px;
}
@media (min-width: 576px) {
    .how-to__title {
        line-height: 85px;
        font-size: 48px;
        padding-left: 26px;
    }
}
.how-to-prepare {
    padding: 13px 10px 0;
}
@media (min-width: 576px) {
    .how-to-prepare {
        padding: 40px 40px 45px 0;
    }
}

.how-to-prepare__highlight {
    background-color: #FFD540;
    font-size: 14px;
    line-height: 31px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 17px;
}
@media (min-width: 576px) {
    .how-to-prepare__highlight {
        border-radius: var(--info-box-radius);
        font-size: 32px;
        line-height: 55px;
        margin-bottom: 24px;
    }
}

.how-to-prepare__text {
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}
@media (min-width: 576px) {
    .how-to-prepare__text {
        line-height: 24px;
        padding-left: 16px;
        padding-right: 0;
        font-weight: 600;
        margin-bottom: 24px;
    }
}

.how-to-login,
.how-to-religion__wrapper {
    background: var(--base-contrast);
    box-shadow: var(--info-box-shadow);
}
@media (min-width: 576px) {
    .how-to-login,
    .how-to-religion__wrapper {
        border-radius: var(--info-box-radius);
    }
}

.how-to-login {
    padding: 0 0 17px;
    margin: 4px -13px 105px;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 576px) {
    .how-to-login {
        margin: 20px 23px;
        padding: 0 19px 17px;
    }
}

.how-to-login__census-link {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin: 0 13%;
}

.how-to-login__census-link a {
    font-size: 36px;
    text-decoration: none;
}

.how-to-login__census-link a:hover,
.how-to-login__census-link a:focus,
.how-to-login__census-link a:active {
    text-decoration: underline;
}

@media (max-width: 575px) {
    .how-to-login__census-link {
        height: 21px;
        margin: 0;
        width: 88vw;
        text-align: center;
    }
    .how-to-login__census-link a {
        display: block;
        font-size: 24px;
        position: relative;
        top: 80px;
        text-align: center;
        width: 100%;
    }
}

.how-to-login__title {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 19px;
}
@media (min-width: 576px) {
    .how-to-login__title {
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 28px;
    }
}

.how-to-login__text,
.how-to-login__option {
    line-height: 20px;
}

.how-to-login__text:not(:last-child) {
    margin-bottom: 16px;
}
.how-to-login__text:last-child {
    margin-bottom: 0;
}
@media (min-width: 576px) {
    .how-to-login__text,
    .how-to-login__option {
        line-height: 24px;
    }

    .how-to-login__text {
        margin-bottom: 21px;
    }
}

.how-to-login__option {
    margin-bottom: 8px;
}

.how-to-login__options {
    margin-bottom: 18px;
    padding-left: 24px;
}
@media (min-width: 576px) {
    .how-to-login__options {
        margin-bottom: 38px;
        padding-left: 56px;
    }
}

.how-to-religion__wrapper {
    margin-bottom: 0;
    padding: 5px 15px;
}
.debug .how-to-religion__wrapper {
    background: none;
}
@media (min-width: 576px) {
    .how-to-religion {
        padding-top: 29px;
        margin: 0 23px 20px;
    }
    .how-to-religion__wrapper {
        margin-bottom: 26px;
        padding: 8px 34px 1px;
        position: relative;
    }
    .debug .how-to-religion__wrapper {
        margin-left: calc(25% + 7px);
    }
    .how-to-religion__wrapper:before {
        content: url("../img/arrow.svg");
        left: -119px;
        position: absolute;
        top: 21px;
    }
}

.how-to-religion__title {
    font-size: 20px;
    margin-bottom: 20px;
}
@media (min-width: 576px) {
    .how-to-religion__title {
        font-size: 32px;
        margin-bottom: 32px;
    }
}
@media (max-width: 575px) {
    .how-to-religion__title {
        line-height: 24px;
    }
}

.how-to-religion__option,
.how-to-religion__text {
    font-weight: 500;
    line-height: 20px;
}
@media (min-width: 576px) {
    .how-to-religion__option,
    .how-to-religion__text {
        line-height: 24px;
    }
}

.how-to-religion__text {
    margin-bottom: 21px;
}
@media (min-width: 576px) {
    .how-to-religion__text {
        margin-bottom: 24px;
    }
}

.how-to-religion__text:last-child {
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 576px) {
    .how-to-religion__text:last-child {
        font-size: 24px;
        line-height: 52px;
    }
}

.debug .how-to-religion__text:last-child {
    margin-top: 46px;
}
@media (min-width: 576px) {
    .debug .how-to-religion__text:last-child {
        margin-top: 64px;
    }
}

.how-to-religion__options {
    margin-top: -8px;
    margin-bottom: 24px;
    padding-left: 22px;
    counter-reset: list;
    list-style-type: none;
}
@media (min-width: 576px) {
    .how-to-religion__options {
        margin-bottom: 32px;
        padding-left: 46px;
    }
}

.how-to-religion__option {
    padding-left: 12px;
    margin-bottom: 8px;
    position: relative;
}
@media (min-width: 576px) {
    .how-to-religion__option {
        padding-left: 31px;
    }
}

.how-to-religion__option:before {
    content: counter(list) " )";
    counter-increment: list;
    left: -28px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 30px;
}

/* ------------ hints ------------------ */

.census-hints-container {
    margin: 0 -15px;
}
@media (min-width: 576px) {
    .census-hints-container {
        margin: 0 18px;
    }
    .debug .census-hints-container {
        margin: 0 25px;
    }
}

.census-hints {
    background-color: var(--base-bg-em);
    color: var(--base-contrast);
    padding: 20px 15px;
}
@media (min-width: 576px) {
    .census-hints {
        border-radius: var(--info-box-radius);
        padding: 48px 80px;
    }
}

.debug .census-hints {
    background-color: transparent;
    padding-bottom: 272px;
}
@media (min-width: 576px) {
    .debug .census-hints {
        padding-bottom: 97px;
    }
}

.census-hints__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
}
@media (min-width: 576px) {
    .census-hints__title {
        font-size: 32px;
        line-height: 34px;
        margin: 20px 0 33px;
    }
}

.census-hints__list {
    padding-left: 17px;
}

/*.non-believers-hint,*/
.census-hints__item {
    line-height: 19px;
}
@media (min-width: 576px) {
    /*.non-believers-hint,*/
    .census-hints__item {
        line-height: 24px;
    }
}

.census-hints__item {
    margin-bottom: 24px;
}

/*.non-believers-hints {*/
/*    list-style-type: lower-alpha;*/
/*    padding-top: 24px;*/
/*    padding-left: 10px;*/
/*}*/

/*.non-believers-hint {*/
/*    margin-bottom: 16px;*/
/*}*/

/* ------------- faq ----------------- */
.faq {
    background-color: var(--base-bg-lighter);
    padding-bottom: 65px;
    margin-bottom: 100px;
}

.debug .faq {
    background: none;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 18px;
}

.faq__container {
    background: url("../img/faq.svg") 129px 250px no-repeat;
}
@media (max-width: 991px) {
    .faq__container {
        background: none;
    }
}

.fag__title {
    font-size: 48px;
    line-height: 60px;
    margin: 0 0 10px;
    padding: 46px 25px 0;
}
@media (max-width: 575px) {
    .fag__title {
        font-size: 26px;
        line-height: 36px;
    }
}

.faq__subtitle {
    font-size: 32px;
    line-height: 30px;
    margin: 0;
    padding: 0 25px;
}

.faq-question:not(:last-child) {
    margin-bottom: 32px;
}

.faq-question__summary h4 {
    font-size: 16px;
    line-height: 24px;
}

/* ----------- why would i ----------- */
.why-would-i {
    margin-bottom: 35px;
}

.why-would-i__container {
    padding-top: 32px;
    background: url("../img/voting.svg") calc(95% + 2px) 26px no-repeat;
}
@media (max-width: 991px) {
    .why-would-i__container {
        background: none;
    }
}

.why-would-i__title,
.why-would-i__text {
    padding-left: 25px;
}

.why-would-i__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 34px;
}
@media (max-width: 575px) {
    .why-would-i__title {
        font-size: 26px;
        line-height: 36px;
    }
}

.why-would-i__text {
    line-height: 24px;
    margin-bottom: 24px;
}

/* --------- soc bottom -------------- */
.social-bottom {
    margin-bottom: 50px;
    padding: 0;
}

.social-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.social-bottom__title {
    color: var(--social);
    font-size: 40px;
    margin: 0;
    line-height: 64px;
}

.social-bottom__button {
    font-size: 20px;
    background-color: var(--social);
    line-height: 64px;
    margin: 0 0 0 10px;
    padding: 0 19px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow .3s ease, opacity .3s ease;
}

.social-bottom__button img {
    margin-right: 10px;
}

.social-bottom__button,
.social-bottom__button:hover,
.social-bottom__button:visited,
.social-bottom__button:focus,
.social-bottom__button:active {
    color: var(--base-contrast);
    text-decoration: none;
}

.social-bottom__button:hover {
    opacity: .7;
}

.social-bottom__button:focus,
.social-bottom__button:active {
    box-shadow: 0 4px 4px transparent;
}

.social-bottom__button--facebook {
}

.social-bottom__button--twitter {
}

/* ---------- partner ---------------- */
/*.partners {*/
/*    background: linear-gradient(180deg, transparent 0%, transparent 50%, var(--base-bg-light) 100%), transparent;*/
/*    padding: 30px 0 208px;*/
/*}*/

/*.debug .partners {*/
/*    background: none;*/
/*}*/

/*.partners__title {*/
/*    font-size: 48px;*/
/*    line-height: 112px;*/
/*    margin-bottom: 48px;*/
/*    text-align: center;*/
/*}*/

/*@media (max-width: 575px) {*/
/*    .partners__title {*/
/*        font-size: 26px;*/
/*        line-height: 36px;*/
/*    }*/
/*}*/

/*.partners__list {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0 20px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.partners__box {*/
/*    background-color: var(--base-contrast);*/
/*    height: 60vw;*/
/*    width: 60vw;*/
/*    border-radius: var(--info-box-radius);*/
/*    box-shadow: var(--info-box-shadow);*/
/*    margin-bottom: 10vw;*/
/*}*/

/*.debug .partners__box {*/
/*    background: none;*/
/*}*/

/*@media (min-width: 576px) {*/
/*    .partners__list {*/
/*        justify-content: space-between;*/
/*    }*/

/*    .partners__box {*/
/*        height: 42vw;*/
/*        width: 42vw;*/
/*        margin-bottom: 4vw;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .partners__box {*/
/*        height: 300px;*/
/*        width: 300px;*/
/*        margin-bottom: 73px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .partners__box {*/
/*        height: 280px;*/
/*        width: 280px;*/
/*        margin-bottom: 30px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .partners__box {*/
/*        height: 260px;*/
/*        width: 260px;*/
/*        margin-bottom: 19px;*/
/*    }*/
/*}*/

/*@media (min-width: 1440px) {*/
/*    .partners__box {*/
/*        height: 300px;*/
/*        width: 300px;*/
/*        margin-bottom: 43px;*/
/*    }*/
/*}*/


/* ----------- footer ---------------- */
.footer {
    background-color: var(--base-bg);
    padding: 20px;
}

.debug .footer {
    border-top: 1px solid lightcoral;
    background: none;
}

.footer__content {
    display: flex;
    justify-content: stretch;
    padding: 0;
    flex-wrap: wrap;
}

.footer__contact,
.footer__copyrights {
    color: var(--base-contrast);
    flex: 1;
    margin: 0;
    font-weight: 700;
}

.footer__copyrights {
    text-align: left;
    margin-left: -15px;
}

.footer__copyrights img {
    margin-right: 13px;
}

.footer__contact {
    line-height: 64px;
    text-align: right;
}

.footer-link {
    transition: opacity .3s ease;
}

.footer-link,
.footer-link:hover,
.footer-link:visited,
.footer-link:active,
.footer-link:focus {
    color: var(--base-contrast);
    text-decoration: none;
}

.footer-link:hover,
.footer-link:visited,
.footer-link:active {
    opacity: .7;
}

.footer-link--email {
    margin-right: 41px;
}

.footer-link--facebook,
.footer-link--tweeter {
    display: inline-block;
    vertical-align: middle;
}

.footer-link img {
    display: block;
}

.footer-link--facebook {
    margin-right: 31px;
}

.footer-link--tweeter {
}

.navbar .navbar-collapse.collapse:target,
.navbar .navbar-collapse.collapse.open {
    display: block !important;
}
